.configSection {
    margin-bottom: 10px;
}

button {
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#overlayButtonsSection {
    position: fixed;
    top: 132px;
    width: 99%;
    height: 156%;
    display: flex;
}

#overlayButtonsSection > * {
    width: 49%;
    height: 100%;
}
