.dial {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  background-color: white;
  font-size: 24px;
  user-select: none;

  border: 2px dashed black;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;

  text-align: center;
  font-size: 1rem;
  padding: 10px;
}

.dial:active {
  cursor: grabbing;
}

.dial-texts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.dial-texts .bottom {
  transform: rotate(180deg);
}

.rotated-dial-texts {
  position: absolute;
}
