:root {
  --bani-text-padding: 20px;
  --bani-text-gap: 40px;
  --bani-text-height: 100vh;
  --bani-text-column-width: 100vw;
}

#bani {
  height: var(--bani-text-height);
  column-width: var(--bani-text-column-width);
  overflow-y: hidden;
  box-sizing: border-box;
  padding: var(--bani-text-padding);
  column-gap: var(--bani-text-gap);
  column-fill: auto;
}

.shabad, .eng, .pun {
  margin-bottom: 5px;
}

.shabad-and-meaning {
  margin-bottom: 20px;
}

.para {
  margin-bottom: 30px;
}

@media only screen and (max-aspect-ratio: 0.6/1),
(max-width: 600px) {
  #bani {
    height: 90vh;
  }
}
