#bani {
  height: 100vh;
  column-width: 100vw;
  overflow-y: hidden;
  /* overflow-x: hidden; */
  box-sizing: border-box;
  padding: 20px;
  column-gap: 40px;
  column-fill: auto;
  /* margin: 0; */
}

@media only screen and (max-aspect-ratio: 0.6/1),
(max-width: 600px) {
  #bani {
    height: 90vh;
  }
}
