:root {
  --bani-text-padding: 20px;
  --bani-text-gap: 40px;
  --bani-text-column-width: 100vw;
}

#bani {
  /* column-width: var(--bani-text-column-width); */
  /* overflow-y: hidden; */
  box-sizing: border-box;
  padding: var(--bani-text-padding);
  /* column-gap: var(--bani-text-gap); */
  /* column-fill: auto; */
}

.shabad,
.eng,
.pun {
  margin-bottom: 5px;
}

.shabad-and-meaning {
  margin-bottom: 20px;
}

.para {
  margin-bottom: 30px;
}

/* 
  For new scroll method
*/
.hide-shabad .shabad {
  display: none;
}

.d-block {
  display: block !important;
}

.hide-shabad-en .en {
  display: none;
}

.hide-shabad-pu .pu {
  display: none;
}

.gurmukhi, .en {
  margin-bottom: 8px;
}