:root {
  --bani-text-padding: 20px;
  --bani-text-gap: 40px;
  /* --bani-text-word-spacing: 100vw; */
}

.bani-container {
  /* word-spacing: var(--bani-text-word-spacing); */
  /* overflow-y: hidden; */
  box-sizing: border-box;
  padding: var(--bani-text-padding);
  padding-top: 26px;
  /* column-gap: var(--bani-text-gap); */
  /* column-fill: auto; */
}

.shabad {
  margin-bottom: 0.8rem;
}

.para {
  margin-bottom: 1.5rem;
}

/* 
  For new scroll method
*/

.hide-shabad .gurmukhi,
.hide-shabad .en,
.hide-shabad .pu {
  display: none;
}

.hide-shabad .d-block {
  display: block;
}

.hide-shabad-en .en {
  display: none !important;
}

.hide-shabad-pu .pu {
  display: none !important;
}

.en {
  margin-bottom: 0.5rem;
}

.d-inline {
  display: inline !important;
}

.para-en,
.para-pu {
  margin-bottom: 0.5rem;
}

.para:first-child {
  margin-top: 30px;
}

.para-en,
.para-pu,
.shabad .en,
.shabad .pu {
  opacity: 0.74;
}

.gurmukhi {
  margin-bottom: 0.1rem;
}

.para-gurmukhi {
  margin-bottom: 0.5rem;
}
