main {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

  /* Floating button cannot change width, height of the page */
  overflow: hidden;
  overflow-x: hidden;
  overflow-clip-margin: 1rem;
}

.noto-sans-gurmukhi-bani {
  font-family: "Noto Sans Gurmukhi", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}


@media only screen and (max-aspect-ratio: 0.6/1),
(max-width: 600px) {
  main {
    overflow-x: hidden;
    overflow-clip-margin: 1rem;
  }
}
