:root {
  --font-color: #000000;
  --background-color: #ffffff;
  --dark-background-color: #121212;
  --dark-font-color: #E0E0E0;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

  /* Floating button cannot change width, height of the page */
  /* overflow: hidden; */

  color: var(--font-color);
  background-color: var(--background-color);
}

body.dark-mode {
  color: var(--dark-font-color);
  background-color: var(--dark-background-color);
}

.root {
  /* overflow: hidden;
  overflow-x: hidden; */
}
#floating-button-container {
  position: fixed;
  z-index: 5000;
}
#menu-container {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 4000;
}
.noto-sans-gurmukhi-bani {
  font-family: "Noto Sans Gurmukhi", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

#list-bani li {
  margin-bottom: 30px;
}

/* Scrollbar */

/* For Webkit Browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 5px; /* Thin scrollbar */
  height: 5px; /* Thin scrollbar for horizontal scroll */
}

::-webkit-scrollbar-track {
  background: var(--background-color); /* Background of the track */
  border-radius: 10px; /* Rounded corners for the track */
  margin: 5px;
}

::-webkit-scrollbar-thumb {
  background: #c3c3c3; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #808080; /* Darker color when hovered */
}

/* Bani list styling */
#list-bani a {
  color: var(--font-color);
}
#list-bani {
  margin-top: 30px;
}

@media only screen and (max-aspect-ratio: 0.6/1), (max-width: 600px) {
  /* body {
    overflow-x: hidden;
  }
  .root {
    overflow: hidden;
    overflow-x: hidden;
  } */
}
