body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

  /* Floating button cannot change width, height of the page */
  /* overflow: hidden; */
}

.root {
  /* overflow: hidden;
  overflow-x: hidden; */
}
#floating-button-container {
  position: fixed;
  z-index: 5000;
}
#menu-container {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 4000;
}
.noto-sans-gurmukhi-bani {
  font-family: "Noto Sans Gurmukhi", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

#list-bani li {
  margin-bottom: 30px;
}

@media only screen and (max-aspect-ratio: 0.6/1), (max-width: 600px) {
  /* body {
    overflow-x: hidden;
  }
  .root {
    overflow: hidden;
    overflow-x: hidden;
  } */
}
