<div id="floating-button" class="inactive prevent-selection hide-on-inactive">
  <button id="menu-icon" class="icon floating-button-icon"><span class="material-symbols-outlined">tune</span></button>
  <button id="fullscreen-icon" class="icon floating-button-icon"><span class="material-symbols-outlined">fullscreen</span></button>
  <button id="left-icon" class="icon floating-button-icon"><span class="material-symbols-outlined">arrow_back</span></button>
  <button id="right-icon" class="icon floating-button-icon"><span class="material-symbols-outlined">arrow_forward</span></button>
</div>
