<div id="floating-button" class="inactive prevent-selection">
  <button id="menu-icon" class="icon"><span class="material-symbols-outlined">tune</span></button>
  <button id="fullscreen-icon" class="icon"><span class="material-symbols-outlined">fullscreen</span></button>
  <div id="menu-container"></div>
  <button id="left-icon" class="icon"><span class="material-symbols-outlined">arrow_back</span></button>
  <button id="right-icon" class="icon"><span class="material-symbols-outlined">arrow_forward</span></button>
</div>
