:root {
  --button-width: 200px;
  --button-height: 55px;
  --icon-size: 40px;
  --floating-button-font-size: 24px;
  --floating-button-icon-font-size: 14px;
}

#menu-container {
  position: absolute;
}

/* Styles for the floating button */
#floating-button {
  bottom: 0;
  right: 0;
  width: var(--button-width);
  height: var(--button-width);
  position: absolute;
  cursor: grab;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: var(--floating-button-font-size);
  touch-action: none;
  transition:
    opacity 0.3s ease,
    transform 0.2s;
  transform: scale(1);
}

/* Icons within the floating button */
.icon {
  transition: transform 0.1s;
  width: var(--icon-size);
  height: var(--icon-size);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--floating-button-icon-font-size);
  cursor: pointer;
  border: 1px solid;
  background-color: transparent;
  border-radius: var(--icon-size);
  background-color: white;
}

.verticalAlignMiddle {
  vertical-align: middle;
}

/* Default opacity for inactive button */
#floating-button.inactive {
  opacity: 0.4;
}

/* Style changes when dragging */
.icon:active {
  cursor: grabbing;
  transform: scale(1.1); /* Slightly increase size when dragged */
}
.prevent-selection {
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
