<!-- Floating button -->
<div id="floatingButton" class="inactive prevent-selection">
  <button id="leftIcon" class="icon"><span class="material-symbols-outlined verticalAlignMiddle">arrow_back</span></button>
  <!-- Left icon -->
  <button id="menuIcon" class="icon"><span class="material-symbols-outlined verticalAlignMiddle">tune</span></button>
  <button id="rightIcon" class="icon"><span class="material-symbols-outlined verticalAlignMiddle">arrow_forward</span></button>
  <!-- Right icon -->
  <div id="menu-container"></div>
</div>
