:root {
  --icon-size: 40px;
  --icon-size-mobile: 60px;
  --floating-button-font-size: 24px;
  --floating-button-icon-font-size: 14px;
}

/* Styles for the floating button */
#floating-button {
  inset: 55px auto auto 55px;
  position: absolute;
  cursor: grab;
  grid-template-columns: auto auto;
  z-index: 9999;
  display: grid;
  gap: 10px;
  font-size: var(--floating-button-font-size);
  touch-action: none;
  transition:
    opacity 0.3s ease,
    transform 0.2s;
  transform: translate(-50%, -50%) scale(1);
}

/* Icons within the floating button */
.icon {
  transition: transform 0.1s;
  width: var(--icon-size);
  height: var(--icon-size);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--floating-button-icon-font-size);
  cursor: pointer;
  border: 1px solid;
  border-radius: var(--icon-size);
  background-color: white;
}

/* Default opacity for inactive button */
#floating-button.inactive {
  opacity: 0.4;
}

/* Style changes when dragging */
.icon:active {
  cursor: grabbing;
  transform: scale(1.1); /* Slightly increase size when dragged */
}
.prevent-selection {
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

@media only screen and (max-aspect-ratio: 0.6/1), (max-width: 900px) {
  #floating-button .icon {
    width: var(--icon-size-mobile);
    height: var(--icon-size-mobile);

    border-radius: var(--icon-size-mobile);
  }

  #floating-button {
    inset: 75px auto auto 75px;
  }
}
