:root {
  --floating-button-font-size: 24px;
}

.menu {
  position: absolute;
  transform: translate(-50%, -50%);
  inset: 50% auto auto 50%;
  z-index: 9997;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  border: 1px solid;
  transition:
    opacity 0.1s,
    scale 0.1s;
  transform-origin: top left;

  /* flex for buttons in menu */
  display: flex;
  justify-content: center;

  box-shadow: 4px 5px 11px 2px #0000002e;
}

.menuClose {
  opacity: 0;
  scale: 0;
}

/* Buttons container */

.menu-buttons {
  padding: 10px;

  max-height: 80vh;

  overflow: auto;
}

.menu-buttons .fontMenu,
.menu-buttons .resetMenu,
.menu-buttons .checkType {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.menu-buttons .alignTitle {
  padding: 10px;
}

.menu-buttons .alignMenu {
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.alignMenu .alignItem {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.alignMenu .alignItem:last-child {
  margin-right: 0px;
}

.alignItem input {
  width: 24px;
  height: 24px;
}

.dflex {
  display: flex;
}

.fontMenu .addButton,
.fontMenu input {
  margin-right: 10px;
}

.menuLabel {
  margin-right: 10px;
}

.menu-buttons .fontMenu input {
  border: 1px solid;
  border-radius: 5px;
  font-size: var(--floating-button-font-size);

  width: 80px;
}

.toggles .scrollLabel {
  width: 100%;
}

.alignSection {
  margin-top: 15px;
}

.toggles input {
  width: 10px;
}

.toggles .checkType {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggles .checkType input {
  width: 24px;
  height: 24px;
}

.toggles .checkType label {
  margin-right: 10px;
}

/* Color sections styling */



@media only screen and (max-aspect-ratio: 0.6/1), (max-width: 600px) {
  .menu-buttons {
    min-width: 80vw;
  }
}
