:root {
  --menu-width: 300px;
}

.menu {
  position: absolute;
  transform: translate(-50%, -50%);
  inset: 0 auto auto 0;
  width: var(--menu-width);
  height: var(--menu-width);
  z-index: 9997;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  border: 1px solid;
  transition:
    width 0.3s,
    height 0.3s,
    opacity 0.3s;
}

.menuClose {
    opacity: 0;
    width: 0 !important;
    height: 0 !important;
}
