:root {
  --menu-width: 450px;
}

.menu {
  position: absolute;
  transform: translate(-50%, -50%);
  inset: 0 auto auto 0;
  width: var(--menu-width);
  height: var(--menu-width);
  z-index: 9997;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  border: 1px solid;
  transition:
    opacity 0.3s,
    scale 0.3s;
  transform-origin: top left;
}

.menuClose {
    opacity: 0;
    scale: 0;
}
