<div id="menu" class="menu menuClose">
  <!-- <div id="dial-container"></div> -->
  <div id="menu-buttons-container" class="menu-buttons">

    <div class="fontMenu">
      <label class="menuLabel">Font size</label>
      <div class="dflex">
        <button class="icon addButton">
          <span class="material-symbols-outlined">add</span>
        </button>
        <input type="number">
        <button class="icon">
          <span class="material-symbols-outlined">remove</span>
        </button>
      </div>
    </div>
    
    <div class="fontMenu">
      <label class="menuLabel">Column width</label>
      <div class="dflex">
        <button class="icon addButton">
          <span class="material-symbols-outlined">add</span>
        </button>
        <input type="number">
        <button class="icon">
          <span class="material-symbols-outlined">remove</span>
        </button>
      </div>
    </div>

    <div class="fontMenu">
      <label class="menuLabel">Line Height</label>
      <div class="dflex">
        <button class="icon addButton">
          <span class="material-symbols-outlined">add</span>
        </button>
        <input type="number">
        <button class="icon">
          <span class="material-symbols-outlined">remove</span>
        </button>
      </div>
    </div>

    <div class="alignSection">
      <label class="alignTitle">Alignment</label>
      <div class="alignMenu">
        <div class="alignItem"><label for="leftAlign">Left</label>
        <input type="radio" name="alignInput" id="leftAlign"></div>
  
        <div class="alignItem"><label for="middleAlign">Right</label>
        <input type="radio" name="alignInput" id="middleAlign"></div>
  
        <div class="alignItem"><label for="rightAlign">Middle</label>
        <input type="radio" name="alignInput" id="rightAlign"></div>
  
        <div class="alignItem"><label for="justifyAlign">Justify</label>
        <input type="radio" name="alignInput" id="justifyAlign"></div>
      </div>
    </div>

    <div class="resetMenu">
      <label class="menuLabel" for="reset-icon">Reset</label>
      <button id="reset-icon" class="icon">
        <span class="material-symbols-outlined">reset_settings</span>
      </button>
    </div>

    <div class="toggles">
      <div class="scroll">
        <label for="scroll">Scroll</label>
        <input type="checkbox" name="scroll" id="scroll">
      </div>
    </div>
  </div>
</div>
